<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
<<<<<<< HEAD
      <%= link_to "jeffreygu.com", 'home', id: "logo" %>
=======
      <%= link_to "jeffrey gu's website", 'home', id: "logo" %>
>>>>>>> d91b771614447ff9e134bbb0c63e9d34a763844a
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Resume", 'resume',id: "smalllogo" %></li>
          <li><%= link_to "Mountain Hikes",    'hikes', id: "smalllogo" %></li>
          <li><%= link_to "Contact Me",    'contact', id: "smalllogo" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>